#span_Container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border: solid white 1px;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: royalblue;
    margin-top: 1rem;
}

.card {
    color: white;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.card p {
    cursor: pointer;
    height: 100vh;
    width: 20rem;
    flex: 1;
    overflow: hidden;
    border-radius: 0.5rem;
    transition: all.5s;
    background-color: royalblue;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card p img {
    width: 800px;
}

.card p span {
    min-width: 13em;
    text-align: center;
    transition: all .5s;
}

.card p:hover {
    flex: 4;
}
