:root {
    --main_Colour: #C2E2EE;
    --background_Colour_Black: black;
    --links_Colour: royalblue;
    --standard_Padding: 5px;
    --standard_Border_Radius: 5px;
    --standard_Gap_5px: 5px;
    --standard_Gap_10px: 10px;
    --standard_Height_5rem: 5rem;
    --standard_Height_10rem: 10rem;
    --standard_Height_15rem: 15rem;
    --standard_Height_20rem: 20rem;
    --standard_Height_30rem: 30rem;
    --standard_Height_40rem: 40rem;
    --standard_Height_50rem: 50rem;
}

* {
    top: 0;
    left: 0;
}

h2 {
    color: var(--links_Colour);
}

body {
    background-color: var(--main_Colour);
    max-width: 100%;
    height: auto;
}

#header_Container,
#aside_Left_Container,
#footer_Container,
#main_Container {
    border: solid var(--background_Colour_Black) 1px;
    position: fixed;
    z-index: 1000;
}

#header_Container {
    height: var(--standard_Height_10rem);
    width: 100%;
    margin: var(--standard_Gap_5px);
}

#aside_Left_Container {
    display: flex;
    flex-direction: column;
    top: calc(var(--standard_Height_10rem) + 10px);
    height: var(--standard_Height_40rem);
    margin:var(--standard_Gap_5px);
    width: var(--standard_Height_20rem)
}

#main_Container {
    left: calc(var(--standard_Height_20rem) + 15px);
    top: calc(var(--standard_Height_10rem) + 15px);
    width: 100%;
    height: var(--standard_Height_40rem);
}

#footer_Container {
    top: calc(var(--standard_Height_50rem) + 20px);
    height: var(--standard_Height_10rem);
    width: 100%;
    margin:var(--standard_Gap_5px);
}

