* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

.card {
    background-color: black;
    color: white;
    /* height: 250px;
    width: 220px; */
    height: 400px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.card p {
    cursor: pointer;
    height: 100%;
    flex: 1;
    overflow: hidden;
    border-radius: 2px;
    transition: all.5s;
    background-color: #212121;
    border: 1px solid #5ac3ff;
    display: flex;
    justify-content: center;
}

.card p span {
    min-width: 13em;
    transform: rotate(-90deg);
    text-align: center;
    transition: all .5s;
}

.card p:hover {
    flex: 4;
}

.card p:hover span {
    transform: rotate(0deg);
}

