* {
    top: 0;
    left: 0;
    margin: 0.1em;
}

@media (max-width: 599px) {
    main           {display: none;}
}

@media (min-width: 600px) and (max-width:899px) {
    main           {display: none;}
    footer         {display: none;}
}

@media (min-width: 900px) and (max-width: 1600px) {
    #main_Body     {width: auto}
    #orientation   {display: none}
    /* footer         {display: none} */
    h1             {display: none}
    #tester        {display: none}
}

@media (min-width: 1600px) {
    #orientation   {display: none}
    #tester        {display: none}
}

body {
    background-color: #e5edff;
    max-width: 100%;
}

h1 {
    color: #dc0000;
    margin-bottom: 0.4rem;
}

#main_Body {
    width: auto;
    height: auto;
    border: solid black 0.5px;
    display: grid;
    grid-template-columns: 15rem 1fr;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 3rem;
}

.column1, button {
    grid-column: 1;
    border: solid black 0.5px;
    text-align: center;
}

.column2 {
    grid-column: 2;
    border: solid black 0.5px;
    text-align: center;
}

button {
    margin: 0.5rem 1rem 0.5rem 1rem;
    width: 13rem;
    height: 6rem;
    border: solid black 0.5px;
    background-color: #e5edff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    border-radius: 0.3rem;
}

#login {
    margin-top: 1rem;
    /* border: none */
}

#logout {
    margin-bottom: 1rem;
}

button:hover {
    background-color: black;
    color: #e5edff;
}

button:focus {
    background-color: #dc0000;
    color: #e5edff;
    text-transform: uppercase;
}

#footer_Container {
    display: grid;
    grid-template-columns: 15rem 15rem 15rem 1fr;
    border: solid black 0.5px;
    text-align: center;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#footer_Column1 {
    grid-column: 1;
    border: solid black 0.5px;
    height: 10rem;
}

#footer_Column2 {
    grid-column: 2;
    border: solid black 0.5px;
    height: 10rem;
}

#footer_Column3 {
    grid-column: 3;
    border: solid black 0.5px;
    height: 10rem;
}

#footer_Column4 {
    grid-column: 4;
    border: solid black 0.5px;
    height: 10rem;
}

#display_Area {
    width: inherit;
    align-content: center;
    /* display: flex; */
}

#display_Area {
    /* background-color: seagreen; */
    color: #dc0000;
    height: 24.8rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
}

#display_Area p {
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
}

.copyright {
    font-size: 0.5rem;
}






